body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header h2{
    color: darkblue;
}

.container{
    position: relative;
    width:600px;
    height: 100%;
    margin: 80px auto 0;
}

.container .box{
    position: relative;
    width: calc(200px-20px);
    height: calc(100px-20px);
    background : #000;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.container .box:before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleX();
    opacity: 0;
    z-index: 1;
}

.container .box:hover:before{
    transform: scaleX(1);
    opacity: 1;
}

.container .box:after{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleY();
    opacity: 0;
    z-index: 1;
}

.container .box:hover:after{
    transform: scaleY(1);
    opacity: 1;
}

.container .box .imgBox{
    position: relative;
}

.container .box .imgBox img{
    width: 100%;

    transition: 0.5s;
}

.container .box:hover .imgBox img{
    opacity: .2;
    transform: scale(1.2);
}

.container .box .content{
    width: 100%;
    transform: translateY(-60%);
    z-index: -2;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.container .box .content h2{
    margin: 0;
    padding: 0;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-50px);
    opacity: 0;
    visibility: hidden;
}

.container .box .content p{
    margin: 0;
    padding: 0;
    color: #fff;
    transition: 0.5s;
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
}

.container .box:hover .content p,
.container .box:hover .content h2{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition-delay: 0.2s;
}

a{
    margin-left: 230px; 
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
